@charset &quot;UTF-8&quot;;
section {
  padding: 3rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), white);
}

main {
  margin: 0;
}

/**** SELECT ******/
.large-select {
  width: 450px !important;
}
@media screen and (max-width: 768px) {
  .large-select {
    width: auto !important;
  }
}

.compare .large-select {
  max-width: 450px !important;
  width: 100% !important;
}
@media screen and (max-width: 992px) {
  .compare .large-select {
    width: 100% !important;
    max-width: 100% !important;
  }
}

/**** INPUT ****/
.fr-search-bar .fr-input {
  border-radius: 0.25rem 0.25rem 0 0;
}

/* selection*/
.selection-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}
.selection-container h4 {
  margin: 0;
  color: #000091;
  font-weight: normal;
}
.selection-container h4 .selection-selected {
  font-size: 24px;
  font-weight: bold;
}

/***** KPI *****/
.kpi-inline {
  color: var(--grey-200-850);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: normal;
}
.kpi-inline .kpi-value {
  color: var(--red-marianne-main-472);
  font-size: 32px;
}

.kpi-inline-small {
  color: var(--grey-200-850);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.kpi-inline-small .kpi-value {
  color: var(--red-marianne-main-472);
}

.kpi-inline-small-light {
  color: var(--grey-200-850);
  font-size: 18px;
  margin-bottom: 20px;
}
.kpi-inline-small-light .kpi-value {
  color: var(--red-marianne-main-472);
}

/***** TEXTS *****/
h4 {
  font-size: 18px;
}

.bleu {
  color: var(--blue-france-sun-113-625);
}

.bleupyramide {
  color: #B3B3DE;
}

.saumon {
  color: #FA7474;
}

.saumonclair {
  color: rgba(250, 116, 116, 0.5);
}

.saumon-bg {
  background-color: #FA7474;
}

.saumonclair-bg {
  background-color: rgba(250, 116, 116, 0.5) !important;
}

.tabblue-bg {
  background-color: #ebebf4 !important;
}

.bleuflash-bg {
  background-color: #0a74f5;
}

.white-bg {
  background-color: #fafafa;
}

.bleu-bg {
  background-color: var(--blue-france-sun-113-625);
}

.bleupyramide-bg {
  background-color: #B3B3DE !important;
  border: none !important;
}

.margin-b0 {
  margin-bottom: 0px;
}

.margin-b24 {
  margin-bottom: 24px;
}

.margin-t24 {
  margin-top: 24px;
}

.margin-t40 {
  margin-top: 40px;
}

.margin-t40 {
  margin-top: 40px;
}

.padding-b40 {
  padding-bottom: 40px;
}

.padding-t40 {
  padding-top: 40px;
}

.padding-0 {
  padding: 0;
}

.halfwidth {
  width: 50%;
}

.capitalize {
  text-transform: capitalize;
}

/***** BUTTONS *****/
.buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #9b9b9b;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
  }
}
.buttons .active {
  background-color: var(--blue-france-sun-113-625);
  color: #fff;
}
.buttons .button {
  cursor: pointer;
  padding: 10px 13px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .buttons .button {
    width: 100%;
  }
}

/***** LEGENDE CUSTOM *****/
.legende-custom {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .legende-custom {
    flex-direction: column;
    gap: 0;
  }
}
.legende-custom .legende-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: var(--grey-200-850);
}
.legende-custom .legende-item .dot {
  border-radius: 100px;
  height: 16px;
  width: 16px;
}

.justify-end {
  justify-content: end;
}

/***** BOX TITLE *****/
.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.title-container .title-subtitle {
  width: 100%;
}
.title-container .title-subtitle .small-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}
.title-container .title-subtitle .subtitle {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--grey-200-850);
}

/***** STYLE BOX ****/
/* container - box*/
.box-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px 0px;
}

.box-container.compare {
  gap: 24px;
  flex-direction: row;
  padding: 12px 0px;
}
@media screen and (max-width: 992px) {
  .box-container.compare {
    flex-direction: column;
    padding: 18px 0;
    gap: 12px;
  }
}

.box-row {
  flex: 1; /* Chaque ligne prend une hauteur égale */
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .box-row {
    flex-direction: column;
    justify-content: center;
  }
}

.border-box {
  border: 1px solid #dddddd;
  padding: 20px;
  height: auto;
  flex-grow: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.border-box.compare {
  border: none;
  padding: 5px;
}

.box-item {
  flex: 1; /* Permet aux éléments de la deuxième ligne d’avoir la même largeur */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid #dddddd; /* Pour visualiser les éléments (facultatif) */
  padding: 13px;
}
@media screen and (max-width: 768px) {
  .box-item {
    padding: 13px 10px;
  }
}

.box-item-filter {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 0 12px 0;
  width: 50%;
}
@media screen and (max-width: 992px) {
  .box-item-filter {
    width: 100%;
  }
}

.box-item-icon {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 120px;
  align-items: center;
  border: 1px solid #dddddd; /* Pour visualiser les éléments (facultatif) */
  padding: 0px 30px;
  gap: 30px;
}

.box-contenu-icon {
  width: 75%; /* Le reste de la boîte */
  text-align: left;
}

.box-title {
  color: var(--blue-france-sun-113-625);
  padding-left: 3px;
  font-weight: 300;
}
.box-title .kpi-value {
  color: var(--red-marianne-main-472);
  font-weight: bold;
}

.box-title-grey {
  color: var(--grey-200-850);
}

.box-compare {
  color: var(--blue-france-sun-113-625);
  padding-bottom: 13px;
}

.box-compare span.red {
  color: var(--red-marianne-main-472);
}

.box-description {
  color: var(--grey-425-625);
  font-size: 10px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .box-description {
    line-height: 12px;
  }
}

.box-description.compare {
  display: none;
}
@media screen and (max-width: 992px) {
  .box-description.compare {
    display: block;
    text-align: center;
  }
}

.box-contenu {
  color: var(--red-marianne-main-472);
  font-weight: bold;
  padding: 3px;
}

.box-contenu-chart {
  color: var(--text-default-grey);
  padding: 24px;
  text-align: left;
  width: 100%;
  font-weight: 300;
}

.box-contenu-blue-bold {
  color: var(--blue-france-sun-113-625);
  font-size: 24px;
  font-weight: bold;
}

.box-contenu-list {
  color: var(--red-marianne-main-472);
  font-weight: bold;
  font-size: 0.8em;
  padding: 3px;
}

/***** FLEXBOXES ****/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 24px;
}
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.grid-container .box {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.grid-container .box .border-box {
  border: 1px solid #dddddd;
}

.grid-containerlarge {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .grid-containerlarge {
    grid-template-columns: 1fr;
  }
}
.grid-containerlarge .box {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.grid-containerlarge .box .border-box {
  border: 1px solid #dddddd;
}

.grid-container-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 24px;
}
@media screen and (max-width: 992px) {
  .grid-container-info {
    grid-template-columns: 1fr;
  }
}
.grid-container-info .box {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.grid-container-info .box .border-box {
  border: 1px solid #dddddd;
}

/***** SELECT *****/
.select-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .select-container {
    flex-direction: column;
  }
}
.select-container .fr-select-group {
  max-width: 300px;
}
.select-container .fr-select-group .odswidget-select-button {
  max-width: 300px !important;
}

.select-container.compare {
  gap: 0;
}
.select-container.compare .fr-select-group {
  max-width: 450px;
  width: 100%;
}
.select-container.compare .fr-select-group .odswidget-select-button {
  max-width: 100% !important;
}

.background-grey {
  background-color: #F6F6F6;
}

/***** bannière *****/
/***** bannière -box *****/
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.banner-box {
  padding: 20px;
  text-align: center;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .banner-box {
    display: none;
  }
}

.banner-middle {
  flex-grow: 3;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fr-text--lead {
  text-align: center;
  font-size: 1rem !important;
}

h1 {
  text-align: center;
}

.odswidget-select-dropdown.open .odswidget-select-dropdown-menu {
  max-height: 400px;
  opacity: 1;
}

.odswidget-select-dropdown-item-close-icon {
  right: 10px;
  font-size: 16px;
  color: var(--blue-france-sun-113-625);
  cursor: pointer;
}

.odswidget-select-dropdown-menu {
  position: absolute;
  z-index: 1000;
}

.odswidget-select-dropdown.open .odswidget-select-dropdown-menu {
  text-align: left;
}

.illustration-fede2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.illustration-fede1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.tab-content {
  margin-top: 20px;
  margin-left: 1%;
}
@media screen and (max-width: 768px) {
  .tab-content {
    margin-left: 0;
    padding: 0;
  }
}

.tabs-list ul {
  padding: Opx 0px;
  display: flex;
  justify-content: center; /* Centre les onglets horizontalement */
  gap: 2px;
}
@media screen and (max-width: 1430px) {
  .tabs-list ul {
    justify-content: left;
    margin-left: 10px;
  }
}

.tabs-list-compare ul {
  padding: Opx 0px;
  display: flex;
  justify-content: center; /* Centre les onglets horizontalement */
  gap: 2px;
}
@media screen and (max-width: 1430px) {
  .tabs-list-compare ul {
    justify-content: left;
    margin-left: 10px;
  }
}

/* COMMON ? */
.hr {
  padding-top: 3rem;
}

/***** Pied-de-page Source *****/
.source {
  color: var(--blue-france-sun-113-625);
}

.box-source {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 24px 0px;
}

.box-row-source {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-color: #F6F6F6;
  padding-bottom: 20px;
  gap: 10px 20px;
}

.box-row-item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  height: 100%;
}

.ods-simple-tabs-content {
  padding: 0px;
}

.ods-front-header__menu-item-link {
  padding: 0px 15px !important;
}

/**** BAR CHART ****/
.bar-chart {
  margin: 20px 0px;
  position: relative;
}
.bar-chart__line {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.bar-chart__line2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  gap: 24px;
}
.bar-chart__line-progressionbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 31px;
  margin-right: 2px;
  border: none;
  border-left: none;
}
.bar-chart__line-progressionbar:hover {
  border-top: 2px solid var(--blue-france-sun-113-625);
  border-right: 2px solid var(--blue-france-sun-113-625);
  border-bottom: 2px solid var(--blue-france-sun-113-625);
}
.bar-chart_result {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  margin-bottom: 10px;
  width: 70%;
  margin-top: 5px;
}
.bar-chart_result.compare {
  margin-bottom: 2px;
  height: 18px;
}
.bar-chart-nodata {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  color: rgba(51, 51, 51, 0.5);
}

.st4bc2 {
  width: 60%;
  text-align: right;
  font-size: 12px;
}

.bar4bc2 {
  width: 100%;
  display: flex !important;
  align-items: center;
}

.single-line {
  display: block;
}

.field-column {
  text-align: right;
  padding-right: 10px;
  color: var(--blue-france-sun-113-625);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  width: 30%;
}

.field-column-topfede {
  text-align: right;
  padding-right: 10px;
  color: var(--blue-france-sun-113-625);
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  width: 30%;
}

.margin  {
  height: 50px;
}

/***** BAR CHART COMPARE *****/
.compare-line .bar-chart__line {
  flex-direction: column;
  justify-content: unset;
}

.bar-chart-compare {
  width: 100%;
}

/*****TOOLTIPS *****/
/*** ods-tooltip over ride */
.ods-tooltip.ods-tooltip {
  text-align: center;
  background: white;
  font-size: 12px;
  color: #000;
  padding: 14px;
  box-shadow: 0px 4px 6px 0px rgba(27, 57, 88, 0.25);
  border-radius: 2px;
}

/***** JAUGE  OVERRIDE *****/
.jauge {
  margin-top: 0;
}

.saumonbar .bar-chart__line-progressionbar {
  background-color: #FA7474;
  border-color: #FA7474;
  color: #000;
  font-weight: 700;
}

.saumonclairbar .bar-chart__line-progressionbar {
  background-color: rgba(250, 116, 116, 0.5);
  border: none;
}

.bleubar .bar-chart__line-progressionbar {
  background-color: var(--blue-france-sun-113-625);
  border-color: var(--blue-france-sun-113-625);
  color: #fff;
  font-weight: 700;
}

.bleuclairbar .bar-chart__line-progressionbar {
  background-color: #B3B3DE;
  border: none;
}

.lowspace {
  min-height: 35px;
  margin-bottom: 0;
}
.lowspace .bar-chart__line-progressionbar {
  padding-left: 10px;
}

.thinbar {
  height: 13px;
  margin-top: 2px;
}
.thinbar .bar-chart__line-progressionbar {
  min-height: 13px;
  font-size: 11px;
  padding-left: 10px;
  font-weight: 700;
}
.thinbar .value {
  font-size: 11px;
}

.value {
  width: 21%;
  margin-left: 5px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .value {
    width: 100%;
  }
}

/***************/
/* Age pyramid */
/***************/
.pyramid {
  margin-bottom: 30px;
}
.pyramid .pyramid-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 8px;
}
.pyramid .pyramid-middle {
  flex: 1;
  min-width: 95px;
  text-align: center;
  white-space: nowrap;
  line-height: 18px;
  font-size: 12px;
}
.pyramid .pyramid-side {
  flex: 4;
  margin: 0px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}
.pyramid .pyramid-side .fond_bar {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 17px;
  font-weight: 700;
}
.pyramid .pyramid-side .fond_bar .bar {
  height: 17px;
}
.pyramid .pyramid-side.pyramid-side-left {
  color: #FA7474;
}
.pyramid .pyramid-side.pyramid-side-left .fond_bar {
  justify-content: flex-end;
}
.pyramid .pyramid-side.pyramid-side-left div.bar {
  background-color: #FA7474;
}
.pyramid .pyramid-side.pyramid-side-right {
  color: var(--blue-france-sun-113-625);
}
.pyramid .pyramid-side.pyramid-side-right div.bar {
  background-color: var(--blue-france-sun-113-625);
}
.pyramid .pyramid-side .compare {
  height: 8px;
  font-size: 11px;
}
.pyramid .pyramid-side .compare .bar {
  height: 8px !important;
}
.pyramid .pyramid-side-value {
  width: 60px;
}
.pyramid .pyramid-value {
  font-size: 12px;
  padding: 0px 5px;
  flex: 1;
}
.pyramid .left {
  text-align: start;
}
.pyramid .right {
  text-align: end;
}

.legende-pyramide {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (max-width: 992px) {
  .legende-pyramide {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: flex-start;
  }
}
.legende-pyramide .left {
  text-align: left;
}
@media screen and (max-width: 1150px) {
  .legende-pyramide .left .legende-custom {
    flex-direction: column;
    gap: 0;
  }
}
.legende-pyramide .right {
  text-align: right;
}
@media screen and (max-width: 1150px) {
  .legende-pyramide .right .legende-custom {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1150px) and (min-width: 993px) {
  .legende-pyramide .right .legende-custom {
    align-items: flex-end;
  }
}
@media screen and (max-width: 1150px) and (min-width: 993px) {
  .legende-pyramide .right .legende-item {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 992px) {
  .legende-pyramide .right {
    text-align: left;
  }
}

/* Customisation du graph courbe */
path.highcharts-tick {
  display: none;
}

.highcharts-xaxis-labels text {
  transform: translateX(0.6%);
}

.highcharts-xaxis-labels span {
  transform: translateX(45%) rotate(0deg) !important;
}

g.highcharts-series.highcharts-spline-series path {
  stroke-width: 2;
}

/* Customisation du graph colonne */
tspan.highcharts-text-outline {
  stroke-width: 0px;
}

div.highcharts-axis-labels.highcharts-xaxis-label span {
  transform: rotate(0) !important;
}

g.highcharts-data-labels.highcharts-series-1.highcharts-column-series.highcharts-tracker g.highcharts-label.highcharts-data-label.highcharts-data-label-color-undefined text {
  fill: white !important;
}

#structuration-col-chart g.highcharts-data-labels.highcharts-series-0.highcharts-column-series.highcharts-tracker g.highcharts-label.highcharts-data-label.highcharts-data-label-color-undefined text {
  fill: white !important;
}

#licences-col-chart g.highcharts-data-labels.highcharts-series-0.highcharts-column-series.highcharts-tracker g.highcharts-label.highcharts-data-label.highcharts-data-label-color-undefined text {
  fill: var(--blue-france-sun-113-625) !important;
}

g.highcharts-data-labels.highcharts-series-5.highcharts-scatter-series.highcharts-tracker g.highcharts-label.highcharts-data-label.highcharts-data-label-color-undefined text {
  fill: #0a74f5 !important;
}

g.highcharts-data-labels.highcharts-series-3.highcharts-scatter-series.highcharts-tracker g.highcharts-label.highcharts-data-label.highcharts-data-label-color-undefined text {
  fill: #B3B3DE !important;
}

g.highcharts-data-labels.highcharts-series-1.highcharts-scatter-series.highcharts-tracker g.highcharts-label.highcharts-data-label.highcharts-data-label-color-undefined text {
  fill: var(--blue-france-sun-113-625) !important;
}

path.highcharts-tick {
  display: none;
}

.highcharts-xaxis-labels text {
  transform: translate(10px, 0px);
}

/**** SELECT ******/
.large-select {
  width: 450px !important;
}
@media screen and (max-width: 768px) {
  .large-select {
    width: auto !important;
  }
}

.fr-btn-reset {
  display: flex;
  align-items: flex-end;
  background-color: var(--border-action-high-blue-france);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  margin: auto 0 auto -30px;
}

.fr-btn-reset:hover {
  background-color: #1212ff !important;
}

/* selection*/
.fr-container.compare {
  position: absolute;
  z-index: 10;
}
@media screen and (max-width: 992px) {
  .fr-container.compare {
    position: relative;
  }
}

.selection-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.selection-container h4 {
  margin: 0;
  color: #000091;
  font-weight: normal;
}
.selection-container h4 .selection-selected {
  font-size: 24px;
  font-weight: bold;
}

.selected-terri {
  margin-top: 20px;
  padding-top: 20px;
  color: var(--blue-france-sun-113-625);
  font-size: 20px;
  padding-left: 2%;
}

.selected-terri-bold {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .selected-terri-bold {
    white-space: pre;
  }
}

/* onglets résultat*/
.search-results {
  background: var(--background-alt-blue-france);
  padding: 1.5rem;
}

.search-results.compare {
  max-width: 450px;
  max-height: 200px;
  overflow: auto;
}
@media screen and (max-width: 992px) {
  .search-results.compare {
    max-width: 100%;
  }
}

.results-tabs {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
  overflow-x: auto;
  justify-content: center;
}

.results-tabs.compare {
  flex-direction: column;
}

.result-tabs-link {
  color: #161616;
  margin: 0 1.5rem;
  font-weight: bold;
  padding: 5px;
}
.result-tabs-link.result-tabs-link-active {
  border-bottom: 2px solid #000091;
  color: #000091;
}

.result-tabs-compare {
  color: #161616;
  font-weight: bold;
  font-size: 14px;
  padding: 5px;
}

.results-list-compare {
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  list-style: none;
  font-size: 14px;
}

.results-list-compare li:hover {
  cursor: pointer;
}

.results-list-compare li.more-than-ten:hover {
  cursor: auto;
}

.fr-tags-group {
  justify-content: center;
}

.message-info-block {
  display: inline-flex;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: var(--light-decisions-background-background-contrast-info, #E8EDFF);
}

.message-info-icon {
  width: 16px;
  height: 16px;
}

.message-info {
  color: var(--light-decisions-text-text-default-info, #0063CB);
  font-family: Marianne;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  text-transform: uppercase;
}

.info-geo {
  color: var(--grey-200-850);
  font-family: Marianne;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.info-insee {
  font-size: 12px;
}

.info-insee:after {
  --icon-size: 0rem;
}

.highcharts-xaxis-labels text {
  transform: translate(8px, 0px);
}